#wrap > header > .page-segment {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.header-title {
  display: block;
  font-size: 3.5em;
  line-height: 1em;
  margin-top: .1em;
  text-align: left;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
  
  a {
    text-decoration: none;
    color: #ccc;
  }
  
  @include breakpoint($breakpoint-medium){
    font-size: 5em;
    line-height: 1em;
  }
  @include breakpoint($breakpoint-large){
    font-size: 6em;
    line-height: 1em;
  }
}
.header-subtitle {
  /* display: block; */
  display: none;
  color: $color-primary;
  text-align: left;
  
  
  @include breakpoint($breakpoint-large){
    margin-left: 1em;
  }
}