<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
		<meta name="author" content="justin w smith" />
		<meta name="viewport" content="width=device-width">
		<meta property="twitter:account_id" content="229122353" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Fjalla+One' rel='stylesheet' type='text/css'>
		<!--[if gt IE 8]><!--><link rel="stylesheet" href="/styles/site.min.css" /><!--<![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/site.legacy.min.css" /><![endif]-->
		<link rel="stylesheet" href="/styles/overrides.css" />
		<script src="/scripts/modernizr-2.5.3.min.js"></script>
		<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-44493909-1', 'thefivetoes.github.io');
      ga('send', 'pageview');
    
    </script>
	</head>
	<body>
		<div id="wrap">
			<header>
				<div class="page-segment">
          <span class="header-title"><a href="/">thefivetoes</a></span>
          <span class="header-subtitle">justin w smith, something, something, something else</span>
				</div>
			</header>
			<div class="page-body">
			  <div class="page-segment">
  			  {{content}}
			  </div>
			</div>
			<footer>
				<div class="page-segment">
				  
				</div>
			</footer>
		</div>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">window.jQuery || document.write('<script src="scripts/jquery-1.7.2.min.js"><\/script>');</script>
		<script type="text/javascript" src="/scripts/site.min.js"></script>
		<script type="text/javascript" src="/scripts/overrides.js"></script>
	</body>
</html>
