<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
		<meta name="author" content="justin w smith" />
		<meta name="viewport" content="width=device-width">
		<!--[if gt IE 8]><!--><link rel="stylesheet" href="/styles/site.min.css" /><!--<![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/site.legacy.min.css" /><![endif]-->
		<link rel="stylesheet" href="/styles/overrides.css" />
		<script src="/scripts/modernizr-2.5.3.min.js"></script>
	</head>
	<body>
		<div id="wrap">
			<header>
				<div class="page-segment">
          <span class="header-title"><a href="/">thefivetoes</a></span>
          <span class="header-subtitle">justin w smith, something, something, something else</span>
				</div>
			</header>
			<div class="page-body">
			  <div class="page-segment">
  			  <h1>Recent Posts</h1>
          <ul class="home-page-post-listing">
            {% for post in site.posts do %}
            <li class="home-page-post">
              <a class="post-name" href="{{ post.url }}">{{ post.title }}</a><span class="post-date">{{ post.date }}</span>
            </li>
            {% endfor %}
          </ul>
			  </div>
			</div>
			<footer>
				<div class="page-segment">
				  
				</div>
			</footer>
		</div>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">window.jQuery || document.write('<script src="scripts/jquery-1.7.2.min.js"><\/script>');</script>
		<script type="text/javascript" src="/scripts/site.min.js"></script>
		<script type="text/javascript" src="/scripts/overrides.js"></script>
	</body>
</html>
