html {
	font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
	font-size: 1.2em;
	line-height: 1.2em;
}

#wrap {
	min-width: $breakpoint-small;
	overflow: hidden;
}

.page-segment {
  width: 96%;
  margin: 0 2%;
  @include breakpoint($breakpoint-large){
    max-width: $breakpoint-large; 
    margin: 0 auto;  
  }
}

html, button, input, select, textarea {
	font-family: $font-serif;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  color: #555;
}

body {
	margin: 0; font-size: 1em; line-height: 1.4em; background: white;
}

a {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}