/* Universal */

$u-style-path: '/project/ux/';

/* Breakpoints */

$breakpoint-small: 20em;
$breakpoint-medium-small: 30em;
$breakpoint-medium: 40em;
$breakpoint-medium-large: 50em;
$breakpoint-large: 60em;

/* Icons */

$icon-action-close-x: '\e000';
$icon-action-collapse-minus: '\e001';
$icon-action-download: '\e002';
$icon-action-expand-plus: '\e003';
$icon-action-menu-lines: '\e004';
$icon-action-new-window: '\e005';
$icon-action-search-magnify: '\e006';
$icon-contact-email: '\e007';
$icon-contact-phone-receiver: '\e008';
$icon-contact-phone: '\e009';
$icon-edit-pencil: '\e00a';
$icon-status-check: '\e00b';
$icon-tri-corner-fill-b-l: '\e00c';
$icon-tri-corner-fill-b-r: '\e00d';
$icon-tri-corner-fill-t-l: '\e00e';
$icon-tri-corner-fill-t-r: '\e00f';
$icon-tri-fill-square-down: '\e010';
$icon-tri-fill-square-left: '\e011';
$icon-tri-fill-square-right: '\e012';
$icon-tri-fill-square-up: '\e013';
$icon-tri-fill-square-wide-down: '\e014';
$icon-tri-fill-square-wide-up: '\e015';
$icon-tri-fill-wide-left: '\e016';
$icon-tri-fill-wide-right: '\e017';
$icon-tri-hollow-wide-down: '\e018';
$icon-tri-hollow-wide-left: '\e019';
$icon-tri-hollow-wide-right: '\e01a';
$icon-tri-hollow-wide-up: '\e01b';

/* Colors */

$color-nominal: #0cc;
$color-attention: #c00;
$color-primary: #fc0;

/* Fonts */

$font-default: Arial, Helvetica, sans-serif;
$font-specialty-a: "Times New Roman", Times, serif;
$font-specialty-b: Verdana, Tahoma, Arial, Helvetica, sans-serif;

/* Imports */

@import "default.scss";
@import "reset.general.scss";
@import "reset.html5.scss";
@import "reset.sub-sup.scss";
@import "reset.flat.scss";
@import "reset.usability.scss";

/* Includes */

@include font-face ( 'icomoon', '../fonts/icomoon' );